<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="luhang.dao.LuhangInfoMapper">
  <resultMap id="BaseResultMap" type="luhang.bean.LuhangInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="platformWeb" jdbcType="VARCHAR" property="platformWeb" />
    <result column="showPrice" jdbcType="INTEGER" property="showPrice" />
    <result column="opponent1Price" jdbcType="INTEGER" property="opponent1Price" />
    <result column="opponent2Price" jdbcType="INTEGER" property="opponent2Price" />
    <result column="opponent3Price" jdbcType="INTEGER" property="opponent3Price" />
    <result column="soldOnline" jdbcType="INTEGER" property="soldOnline" />
    <result column="RemainingOnline" jdbcType="INTEGER" property="remainingOnline" />
    <result column="inventoryOnline" jdbcType="INTEGER" property="inventoryOnline" />
    <result column="bookingOffline" jdbcType="INTEGER" property="bookingOffline" />
    <result column="soldOffline" jdbcType="INTEGER" property="soldOffline" />
    <result column="RemainingOffline" jdbcType="INTEGER" property="remainingOffline" />
    <result column="inventoryOffline" jdbcType="INTEGER" property="inventoryOffline" />
    <result column="ROC" jdbcType="INTEGER" property="ROC" />
    <result column="inventoryTotal" jdbcType="INTEGER" property="inventoryTotal" />
    <result column="RemainingTotal" jdbcType="INTEGER" property="remainingTotal" />
  </resultMap>
  <sql id="Base_Column_List">
    id, date, platformWeb, showPrice, opponent1Price, opponent2Price, opponent3Price, 
    soldOnline, RemainingOnline, inventoryOnline, bookingOffline, soldOffline, RemainingOffline, 
    inventoryOffline, ROC, inventoryTotal, RemainingTotal
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
  <include refid="Base_Column_List" /> 
 
 
    from web_luhangsystem
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- 查询所有的数据列表 -->
    <select id="selectAllInfos"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from web_luhangsystem
  </select>
  
  
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from web_luhangsystem
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="luhang.bean.LuhangInfo">
    insert into web_luhangsystem (id, date, platformWeb, 
      showPrice, opponent1Price, opponent2Price, 
      opponent3Price, soldOnline, RemainingOnline, 
      inventoryOnline, bookingOffline, soldOffline, 
      RemainingOffline, inventoryOffline, ROC, 
      inventoryTotal, RemainingTotal)
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, #{platformWeb,jdbcType=VARCHAR}, 
      #{showPrice,jdbcType=INTEGER}, #{opponent1Price,jdbcType=INTEGER}, #{opponent2Price,jdbcType=INTEGER}, 
      #{opponent3Price,jdbcType=INTEGER}, #{soldOnline,jdbcType=INTEGER}, #{remainingOnline,jdbcType=INTEGER}, 
      #{inventoryOnline,jdbcType=INTEGER}, #{bookingOffline,jdbcType=INTEGER}, #{soldOffline,jdbcType=INTEGER}, 
      #{remainingOffline,jdbcType=INTEGER}, #{inventoryOffline,jdbcType=INTEGER}, #{ROC,jdbcType=INTEGER}, 
      #{inventoryTotal,jdbcType=INTEGER}, #{remainingTotal,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="luhang.bean.LuhangInfo">
    insert into web_luhangsystem
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="platformWeb != null">
        platformWeb,
      </if>
      <if test="showPrice != null">
        showPrice,
      </if>
      <if test="opponent1Price != null">
        opponent1Price,
      </if>
      <if test="opponent2Price != null">
        opponent2Price,
      </if>
      <if test="opponent3Price != null">
        opponent3Price,
      </if>
      <if test="soldOnline != null">
        soldOnline,
      </if>
      <if test="remainingOnline != null">
        RemainingOnline,
      </if>
      <if test="inventoryOnline != null">
        inventoryOnline,
      </if>
      <if test="bookingOffline != null">
        bookingOffline,
      </if>
      <if test="soldOffline != null">
        soldOffline,
      </if>
      <if test="remainingOffline != null">
        RemainingOffline,
      </if>
      <if test="inventoryOffline != null">
        inventoryOffline,
      </if>
      <if test="ROC != null">
        ROC,
      </if>
      <if test="inventoryTotal != null">
        inventoryTotal,
      </if>
      <if test="remainingTotal != null">
        RemainingTotal,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="platformWeb != null">
        #{platformWeb,jdbcType=VARCHAR},
      </if>
      <if test="showPrice != null">
        #{showPrice,jdbcType=INTEGER},
      </if>
      <if test="opponent1Price != null">
        #{opponent1Price,jdbcType=INTEGER},
      </if>
      <if test="opponent2Price != null">
        #{opponent2Price,jdbcType=INTEGER},
      </if>
      <if test="opponent3Price != null">
        #{opponent3Price,jdbcType=INTEGER},
      </if>
      <if test="soldOnline != null">
        #{soldOnline,jdbcType=INTEGER},
      </if>
      <if test="remainingOnline != null">
        #{remainingOnline,jdbcType=INTEGER},
      </if>
      <if test="inventoryOnline != null">
        #{inventoryOnline,jdbcType=INTEGER},
      </if>
      <if test="bookingOffline != null">
        #{bookingOffline,jdbcType=INTEGER},
      </if>
      <if test="soldOffline != null">
        #{soldOffline,jdbcType=INTEGER},
      </if>
      <if test="remainingOffline != null">
        #{remainingOffline,jdbcType=INTEGER},
      </if>
      <if test="inventoryOffline != null">
        #{inventoryOffline,jdbcType=INTEGER},
      </if>
      <if test="ROC != null">
        #{ROC,jdbcType=INTEGER},
      </if>
      <if test="inventoryTotal != null">
        #{inventoryTotal,jdbcType=INTEGER},
      </if>
      <if test="remainingTotal != null">
        #{remainingTotal,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="luhang.bean.LuhangInfo">
    update web_luhangsystem
    <set>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="platformWeb != null">
        platformWeb = #{platformWeb,jdbcType=VARCHAR},
      </if>
      <if test="showPrice != null">
        showPrice = #{showPrice,jdbcType=INTEGER},
      </if>
      <if test="opponent1Price != null">
        opponent1Price = #{opponent1Price,jdbcType=INTEGER},
      </if>
      <if test="opponent2Price != null">
        opponent2Price = #{opponent2Price,jdbcType=INTEGER},
      </if>
      <if test="opponent3Price != null">
        opponent3Price = #{opponent3Price,jdbcType=INTEGER},
      </if>
      <if test="soldOnline != null">
        soldOnline = #{soldOnline,jdbcType=INTEGER},
      </if>
      <if test="remainingOnline != null">
        RemainingOnline = #{remainingOnline,jdbcType=INTEGER},
      </if>
      <if test="inventoryOnline != null">
        inventoryOnline = #{inventoryOnline,jdbcType=INTEGER},
      </if>
      <if test="bookingOffline != null">
        bookingOffline = #{bookingOffline,jdbcType=INTEGER},
      </if>
      <if test="soldOffline != null">
        soldOffline = #{soldOffline,jdbcType=INTEGER},
      </if>
      <if test="remainingOffline != null">
        RemainingOffline = #{remainingOffline,jdbcType=INTEGER},
      </if>
      <if test="inventoryOffline != null">
        inventoryOffline = #{inventoryOffline,jdbcType=INTEGER},
      </if>
      <if test="ROC != null">
        ROC = #{ROC,jdbcType=INTEGER},
      </if>
      <if test="inventoryTotal != null">
        inventoryTotal = #{inventoryTotal,jdbcType=INTEGER},
      </if>
      <if test="remainingTotal != null">
        RemainingTotal = #{remainingTotal,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="luhang.bean.LuhangInfo">
    update web_luhangsystem
    set date = #{date,jdbcType=TIMESTAMP},
      platformWeb = #{platformWeb,jdbcType=VARCHAR},
      showPrice = #{showPrice,jdbcType=INTEGER},
      opponent1Price = #{opponent1Price,jdbcType=INTEGER},
      opponent2Price = #{opponent2Price,jdbcType=INTEGER},
      opponent3Price = #{opponent3Price,jdbcType=INTEGER},
      soldOnline = #{soldOnline,jdbcType=INTEGER},
      RemainingOnline = #{remainingOnline,jdbcType=INTEGER},
      inventoryOnline = #{inventoryOnline,jdbcType=INTEGER},
      bookingOffline = #{bookingOffline,jdbcType=INTEGER},
      soldOffline = #{soldOffline,jdbcType=INTEGER},
      RemainingOffline = #{remainingOffline,jdbcType=INTEGER},
      inventoryOffline = #{inventoryOffline,jdbcType=INTEGER},
      ROC = #{ROC,jdbcType=INTEGER},
      inventoryTotal = #{inventoryTotal,jdbcType=INTEGER},
      RemainingTotal = #{remainingTotal,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>